.section-cover.section-cover-edu{data: {menuitem: 'is-current-jobs'}}
  %h2 Jobs/education
  %h3
    .sub-line What I do.
    .sub-line What I did.
    .sub-line What I studied.

.container
  %p.text-center.small After the high school diploma (Accountancy and Computer Science expert), I obtained a Computer Science degree at University of Padua in 2007. During those years I started a job as freelance (full stack) web developer. <br>Then I worked for one of the biggest italian software houses (Zucchetti SPA), and after 3 years researching and developing new web technologies (mostly front-end related) I moved for a new adventure in Amsterdam as lead frontend engineer for a startup. I worked there 1 year and then I moved back to Padua to join Timerepublik where I've been working for almost 3 years as frontend web/mobile engineer and also designer.

.scrollable-element-wrapper
  .jobs-container
    .jobs-container-wrapper{style: "width: #{(data.jobs.length * 290)-30}px" }
      - data.jobs.each do |job|
        - title = job[0]
        - data = job[1]
        .job-item{class: "is-#{data.type}"}
          %button.btn.btn-dark.btn-sm.btn-job-open-more-big
            %i.fa.fa-plus
            %i.fa.fa-minus
          %button.btn.btn-dark.btn-xs.btn-job-open-more
            %i.fa.fa-plus
            %span show details
            %i.fa.fa-minus
            %span hide details
          .job-date.small
            = "#{data.ended} / " if data.ended
            = data.started
          .flip-container
            .flipper
              .front
                .job-panel
                  .job-panel-elem
                    %h4= title
                    %img.img-logo{width: 100, data: {at2x: "images/logos/#{data.logo}".sub('.png', '@2x.png'), src: "images/logos/#{data.logo}"}}
                    %h5= data.subtitle
              .back
                .job-panel
                  .job-panel-elem
                    %p= data.description
          .job-item-more
            %p.text-center
              - if data.website
                = link_to data.website, class: 'btn btn-dark btn-sm', target: '_blank' do
                  %i.fa.fa-external-link
                  Visit website
              - elsif data.id != 4
                %span.small 
                  %i.fa.fa-warning
                  website not accessible/no more online
              - elsif data.websites
                = data.websites
            - if data.technologies
              %p.text-center
                - data.technologies.each do |t|
                  = link_to t, "https://www.google.com/?q=#{t}#q=#{t}", class: 'label label-default', target: '_blank'
            - if data.images
              .scrollable-element-wrapper
                .job-img
                  - images_width = 0
                  - data.images.each do |img|
                    - images_width += img.match(/8|9|10|11.png/i) && data.id == 1 ? 60 : 110
                  .job-img-container{style: "width: #{images_width+100}px" }
                    - data.images.each do |img|
                      = link_to "images/#{img.gsub('thumb/','')}", class: "mfp-open mfp-image #{img.match(/8|9|10|11.png/i) && data.id == 1 ? 'img-thumbnail-vertical-wrapper' : ''}" do
                        %img.img-thumbnail{width: 100, height: 100, :'data-no-retina'=> "true", :'data-src' => "images/#{img}"}
            - else
              %p.text-center
                %span.small 
                  %i.fa.fa-warning
                  no images