%ul.social
  %li
    = link_to 'https://fb.com/stefanoceschiberrini', class: 'link-fa', target: '_blank' do
      %i.fa.fa-facebook
  %li
    = link_to 'https://twitter.com/@stecb', class: 'link-fa', target: '_blank' do
      %i.fa.fa-twitter
  %li
    = link_to 'https://github.com/stecb', class: 'link-fa', target: '_blank' do
      %i.fa.fa-github
  %li
    = link_to 'https://www.linkedin.com/in/stefanoceschiberrini', class: 'link-fa', target: '_blank' do
      %i.fa.fa-linkedin
  %li
    = link_to 'https://plus.google.com/+StefanoCeschiBerrini', class: 'link-fa', target: '_blank' do
      %i.fa.fa-google-plus
  %li
    = link_to 'https://stackoverflow.com/users/528262/stecb', class: 'link-fa', target: '_blank' do
      %i.fa.fa-stack-overflow
  %li
    = link_to 'http://www.google.com/recaptcha/mailhide/d?k=01-P3aMuzjdaplP6nX8IIS0A==&c=LsHywRN7rKoO-x4qmXKs6DTX5dQDzjgFDlWpnDCLVBs=', class: 'link-fa', target: '_blank' do
      %i.fa.fa-envelope